body {
    background: #e7d9f7;
}

div {
    padding: 10px;
}

div.container-2 {
    display: flex;
    padding: 10px;
}

div.container-1 {
    display: flex;
    flex-basis: 100%;
    flex-direction: column;
    padding: 10px;
}

.flex-container {
    display: flex;
    flex-direction: column;
    padding: 10px;
}

div.ssylka1 {
    padding-left: 50px;
    border-radius: 10px;
    width: 150px;
    height: 50px;
    background-color: wheat;
}

div.ssylka2 {
    padding-left: 50px;
    border-radius: 10px;
    width: 150px;
    height: 50px;
    background-color: wheat;
}

div.ssylka3 {
    padding-left: 50px;
    border-radius: 10px;
    width: 150px;
    height: 50px;
    background-color: wheat;
}

a {
    color: rgb(75, 5, 92);
    font-size: 15pt;
    font-family: 'Roboto', sans-serif;
}

#img {
    float: left;
    width: 70px;
    height: 70px;
    padding-left: 50px;
}

h1 {
    text-align: center;
    margin-top: 10px;
}

h2 {
    font-family: 'Roboto', sans-serif;
}

p {
    font-family: 'Roboto', sans-serif;
    font-size: 15pt;
}

label {
    font-family: 'Roboto', sans-serif;
}

table {
    width: 800px;
    font-family: 'Roboto', sans-serif;
    text-align: left;
    border-collapse: separate;
    border-spacing: 5px;
    background: #865aa1;
    color: #414141;
    border: 16px solid #865aa1;
    border-radius: 20px;
}

th {
    font-size: 18px;
    padding: 10px;
    color: rgb(209, 209, 209);
}

td {
    padding: 10px;
}

tr.chet {
    background-color: rgb(212, 196, 245);
}

tr.nechet {
    background-color: rgb(248, 243, 194);
}

div.grad {
    display: flex;
    background: linear-gradient( rgb(214, 174, 241), #eeaccd, rgb(248, 223, 194));
    width: 110%;
    height: 150px;
    font-family: 'Roboto', sans-serif;
}

footer {
    width: 100%;
    font-family: 'Roboto', sans-serif;
}

.bullet {
    list-style: none;
    counter-reset: li;
}

.bullet li {
    width: 100%;
    position: relative;
    margin-bottom: 1.5em;
    border: 3px solid #865aa1;
    padding-left: 30px;
    border-radius: 4px;
    background: rgb(212, 196, 245);
    color: #231F20;
    font-family: "Trebuchet MS", "Lucida Sans";
}

.bullet li:before {
    position: absolute;
    top: -0.7em;
    padding-left: 0.4em;
    padding-right: 0.4em;
    font-size: 16px;
    font-weight: bold;
    color: #865aa1;
    background: rgb(248, 243, 194);
    border-radius: 50%;
    counter-increment: li;
    content: counter(li);
}

.box1 {
    padding: 10px;
    order: 2;
}

.box2 {
    padding: 10px;
    order: 1;
}

@media (min-width: 1200px) {
    div.container-1 {
        display: flex;
        justify-content: left;
    }
    .diva {
        color: thistle;
    }
    div {
        display: inline;
        padding: 5px;
    }
    div.ssylka1 {
        padding-left: 30px;
        width: 150px;
        height: 50px;
        background-color: rgb(122, 93, 189);
    }
    div.ssylka2 {
        padding-left: 30px;
        width: 150px;
        height: 50px;
        background-color: rgb(122, 93, 189);
    }
    div.ssylka3 {
        padding-left: 30px;
        width: 150px;
        height: 50px;
        background-color: rgb(122, 93, 189);
    }
    .box1 {
        order: 1;
    }
    .box2 {
        order: 2;
    }
    div.container-2 {
        display: flex;
        padding-left: 30px;
    }
    div.grad {
        display: flex;
        background: linear-gradient( rgb(214, 174, 241), #eeaccd, rgb(248, 223, 194));
        width: 105%;
        height: 100px;
        font-family: 'Roboto', sans-serif;
    }
}